/condicionales/problema1/Problema_1/nbproject/private/
/condicionales/problema1/Problema_1/build/
/condicionales/problema2/Problema_2/nbproject/private/
/condicionales/problema2/Problema_2/build/
/condicionales/problema3/Problema_3/nbproject/private/
/condicionales/problema3/Problema_3/build/
/condicionales/problema4/Problema_4/nbproject/private/
/condicionales/problema4/Problema_4/build/
/condicionales/problema4/problema01/nbproject/private/
/manejo-entrada-salida/problema01/Problema01/nbproject/private/
/manejo-entrada-salida/problema01/Problema01/build/
/manejo-entrada-salida/problema02/Problema02/nbproject/private/
/manejo-entrada-salida/problema02/Problema02/build/
/manejo-entrada-salida/problema03/Problema03/nbproject/private/
/manejo-entrada-salida/problema03/Problema03/build/
